    <!-- app/views/home/index.html.erb-->
    <!--import to <div class="container"> in application.html.erb-->
    <!-- Navigation Buttons -->
    <!-- Переробив посилання на більш коректні для верстки, в теорії мають працювати якщо ні то перероблю на старі -->
    <div class="navigation">
        <a href="/cnf_to_dnf" class="nav-button">CNF to DNF</a>
        <a href="/recurrence_relations" class="nav-button">Recurrence Relations</a>
        <a href="/solving_recurrence_relations" class="nav-button">Solving Recr. Relations</a>
        <a href="/number_theory" class="nav-button">Number Theory</a>
        <a href="/sets" class="nav-button">Sets</a>
        <a href="/hamming_code" class="nav-button">Hamming Code</a>
        <a href="/calculate_checksum" class="nav-button">Calculate Checksum</a>
        <a href="/graph_theory" class="nav-button">Graph Theory</a>
        <a href="/java_examinator" class="nav-button">Java Examinator</a>
    </div>

    <!-- Calc Description -->
     <!-- трохи допрацював-->
    <section class="description">
      <p>
        <strong>Welcome to the Discrete Math Calculator!</strong><br> This application provides tools for solving problems 
        in discrete mathematics, including logical transformations, recurrence relations, and more.<br> 
        Use the options below to access specific calculators.
      </p>
    </section>
