<h1>Java Examinator</h1>

<ul>
  <li>
    <%= link_to "Classes. Constructors and Object Initializing", java_examinator_classes_constructors_and_object_initializing_path %>
  </li>
  <li>
    <%= link_to "Introduction to Object-Oriented Programming. Encapsulation. Inheritance. Modifiers", java_examinator_introduction_to_object_oriented_programming_encapsulation_inheritance_modifiers_path %>
  </li>
  <li>
    <%= link_to "Introduction to Object-Oriented Programming. Polymorphism. Object Class.", java_examinator_introduction_to_object_oriented_programming_polymorphism_object_classes_path %>
  </li>
  <li>
    <%= link_to "Abstract Classes and Interfaces", java_examinator_abstract_classes_and_interfaces_path %>
  </li>
</ul>
